<div class="container-fluid">
  <div class="row">
      <div class="col-4">
          <div class="row">
            <div class="col-12">
              <!-- <div class="row">
                <div class="col-4"> -->
                    <label for="title" class="required control-label">Driver Description:</label>
                <!-- </div>
              </div> -->
              <!-- <div class="row"> -->
                <!-- <div class="col-12"> -->
                    <input id="input" type="text" size="30" pInputText>                    
                <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- <div class="row">
                <div class="col-4"> -->
                    <label for="title" class="required control-label">Driver Category:</label>
                <!-- </div>
              </div> -->
              <!-- <div class="row">
                <div class="col-12"> -->
                    <p-dropdown [options]="cities1"  placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>
                                      <!-- </div> -->
              <!-- </div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- <div class="row"> -->
                <label for="title" class="required control-label">Event Type:</label>
              <!-- </div> -->
              <!-- <div class="row"> -->
                  <p-dropdown [options]="cities1"  placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>
                  <!-- </div> -->
            </div>
          </div>
        </div>
  </div>
  
</div>
<div class="row footerFixed">
  <app-button label='Save' styleClass='button-action'></app-button>
  <app-button label='Cancel'   styleClass='button-cancel'></app-button>
</div>