<div class="container-fluid">
  <form [formGroup]="riskAssesmentForm" (ngSubmit)="onSubmit()">
  <div class="row">
      <div class="col-4">
          <div class="row">
            <div class="col-12">
                    <label for="title" class="required control-label">Driver Description:</label>
      
                    <textarea formControlName="driverDescription" rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
                    
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                    <label for="title" class="required control-label">Driver Category:</label>
                    <p-multiSelect formControlName="driverCategory" [options]="mockMultiDropDownData"></p-multiSelect>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
                <label for="title" class="required control-label">Event Type:</label>
                  <p-dropdown [options]="mockDropDownData" formControlName="eventType"  placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>
            </div>
          </div>
        </div>
  </div>
  <button type="submit" [disabled]="!riskAssesmentForm.valid">Submit</button>
  </form>
</div>
<div class="row footerFixed">
  <app-button label='Reset' (click)="resetForm()" styleClass='button-action'></app-button>
  <app-button label='Cancel'   styleClass='button-cancel'></app-button>
</div>