<div class="container-fluid">
  <form [formGroup]="businessProcessForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-4">
            <div class="row">
              <div class="col-12">
                      <label for="title" class="required control-label">Business Process:</label>
                      <input formControlName="businessProcess" id="input" type="text" size="30" pInputText>                    
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                      <label for="title" class="required control-label">Applicable to:</label>
                      <p-dropdown formControlName="applicableTo" [options]="mockDropDownData"  placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>
              </div>
            </div>          
          </div>
    </div>
    <br>
      <div class="text-center">
    <button pButton type="submit" [disabled]="!businessProcessForm.valid" label="Save and Enter Business Actiity"></button>
      </div>
  </form>
  
  <div class="row footerFixed">
    <div class="col">
          <app-button label='Reset' (click)="resetForm()" styleClass='button-action'></app-button>
    <app-button label='Cancel'   styleClass='button-cancel'></app-button>
    </div>
  </div>
  </div>