<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Group</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Aditional Procedure</label>
        </div>

        <div class="col-12">
          <input id="input" type="text" pInputText>

        </div>

      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Business Continuity</label>
          <div>
            <input id="input" type="text" pInputText>

          </div>

        </div>
      </div>
       <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Group</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Checklist</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Framework</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Comment</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Control</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Elements</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Implementation State</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Procedure</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Management Assertion</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Enhancement Project</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
  </div>

</div>

