<div class="container-fluid">
  <form [formGroup]="controlForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="control-label">Group</label>

          <p-dropdown formControlName="group" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="control-label">Aditional Procedure</label>
        </div>

        <div class="col-12">
          <p-multiSelect formControlName="aditionalProcedure" [options]="mockMultiDropDownData"></p-multiSelect>
        </div>

      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Business Continuity</label>
          <div>
            <input formControlName="businessContinuity" id="input" type="text" pInputText>

          </div>

        </div>
      </div>
       <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Tracking Number</label>

          <p-dropdown formControlName="trackingNumber" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Checklist</label>

          <p-dropdown formControlName="checklist" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Framework</label>

          <p-dropdown formControlName="framework" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
            <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Enhancement Project</label>

          <p-dropdown formControlName="enhancementProject" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
            <div class="row">
        <div class="col-12">

          <label for="title" class="control-label">Implementation State</label>
          <div>
            <p-radioButton formControlName="implementationState" name="group1" value="Implemented" label="Implemented"></p-radioButton>
            <p-radioButton formControlName="implementationState" name="group1" value="Will be Implemented" label="Will be Implemented"></p-radioButton>
          </div>
        </div>
      </div>

    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Control</label>

          <p-dropdown formControlName="control" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Elements</label>
          <p-multiSelect formControlName="elements" [options]="mockMultiDropDownData"></p-multiSelect>
        </div>
      </div>

            <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Comment</label>
          <textarea formControlName="comment" rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="control-label">Procedure</label>

          <p-dropdown formControlName="procedure" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="control-label">Management Assertion</label>
          <p-multiSelect formControlName="managementAssertion" [options]="mockMultiDropDownData"></p-multiSelect>
        </div>
      </div>

      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Enhancement Project</label>

          <p-dropdown formControlName="enhancementProject" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>
        </div>
      </div>
    </div>
  </div>
  <button pButton type="submit" [disabled]="!controlForm.valid" label="Save and Add evidence to this Control"></button>
  </form>
</div>
  <div class="row footerFixed">
    <app-button label='Reset' (click)="resetForm()" styleClass='button-action'></app-button>
    <app-button label='Cancel'   styleClass='button-cancel'></app-button>
  </div>
