<div class="container-fluid">
  <form [formGroup]="ControlEvidenceForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Source</label>

          <p-dropdown formControlName="source" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="false"></p-dropdown>

        </div>
      </div>
      <div class="row" *ngIf="ImplementedCheck">
        <div class="col-12">

          <label for="title" class="required control-label">Enhancement Project</label>
          <p-dropdown formControlName="enhancementProject" [options]="mockDropDownData" placeholder="Select option" optionLabel="name" filter='true' autoWidth='false' [showClear]="false"></p-dropdown>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="control-label">Implementation state</label>
          <div>
            <p-radioButton #value1 formControlName="implementationState" (click)="ImplementationState(value1.value)" name="group1" value="Implemented" label="Implemented"></p-radioButton>
            <p-radioButton #value2 formControlName="implementationState" (click)="ImplementationState(value2.value)" name="group1" value="Will be Implemented" label="Will be Implemented"></p-radioButton>
          </div>

        </div>
      </div>
      
      <div class="row" *ngIf="ImplementedCheck">
        <div class="col-12">

          <label for="title" class="required control-label">Tracking Number</label>

              <input formControlName="trackingNumber" id="input" type="text" pInputText>

        </div>
      </div>
    </div>
    <div class="col">

            <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Control Evidence</label>
          <textarea formControlName="controlEvidence" rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
        </div>
      </div>
    </div>
  </div>
    <div class="text-center">
  <button pButton type="submit" [disabled]="!ControlEvidenceForm.valid" label="Add more evidence to this Control"></button>
  <button pButton type="submit" [disabled]="!ControlEvidenceForm.valid" label="Save and return to Matrix Grid"></button>
    </div>
  </form>

  <div class="row footerFixed">
    <div class="col">
          <app-button label='Reset' (click)="resetForm()" styleClass='button-action'></app-button>&nbsp;&nbsp;&nbsp;
    <app-button label='Cancel'   styleClass='button-cancel'></app-button>
    </div>
  </div>
  </div>