<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Source</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Enhancement Project</label>
          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Control Evidence</label>
          <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Tracking Number</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="control-label">Implementation state</label>
          <div>
            <p-radioButton name="group1" value="Option 1" label="Implemented"></p-radioButton>
            <p-radioButton name="group1" value="Option 1" label="Will be Implemented"></p-radioButton>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row footerFixed">
    <app-button label='Save' styleClass='button-action'></app-button>
    <app-button label='Cancel'   styleClass='button-cancel'></app-button>
  </div>