<div class="container-fluid">
  <form [formGroup]="ControlEvidenceForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Source</label>

          <p-dropdown formControlName="source" [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Enhancement Project</label>
          <p-dropdown formControlName="enhancementProject" [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>
          
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Control Evidence</label>
          <textarea formControlName="controlEvidence" rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <label for="title" class="required control-label">Tracking Number</label>

          <p-dropdown formControlName="trackingNumber" [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-12">

          <label for="title" class="control-label">Implementation state</label>
          <div>
            <p-radioButton formControlName="implementationState" name="group1" value="Implemented" label="Implemented"></p-radioButton>
            <p-radioButton formControlName="implementationState" name="group1" value="Will be Implemented" label="Will be Implemented"></p-radioButton>
          </div>

        </div>
      </div>
    </div>
  </div>
  <button type="submit" [disabled]="!ControlEvidenceForm.valid">Submit</button>
  </form>
</div>
  <div class="row footerFixed">
    <app-button label='Reset' (click)="resetForm()" styleClass='button-action'></app-button>
    <app-button label='Cancel'   styleClass='button-cancel'></app-button>
  </div>