<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 padding-left-10">
        <app-breadcrumbs [items]='itemsPath'></app-breadcrumbs>
    </div>
</div>
<h3 class="panel-title">Control Objectives Maintenance</h3>
<div class="row">
  <label class="control-label">Program</label>
  <div class="col-5">
    <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedProgram = $event' [selectedItem]='selectedProgram'></app-dropdown>
  </div>
</div>
<div class="align-right">
  <!--<a routerLink="/controlObjectivesMaintenance/add">Add a New Control Objective</a>-->
  <app-button label='Add a New Control Objective' routerLink="/controlObjectivesMaintenance/add" styleClass='button-action'></app-button>
</div>
<br>
<div>

    <p-table #scr [columns]="colHeaders" [value]="sales" [responsive]="true" [paginator]="true" [rows]="8"
        [alwaysShowPaginator]="false" [exportFilename]="this.exportFileName" [loading]="loading" [resizableColumns]="true">
      <ng-template pTemplate="header" let-columns>
      <tr>
          <th class="text-center" *ngFor="let col of columns" [style.width]="col.width" [pSortableColumn]="col.field" pResizableColumn>
              {{col.header}}
          </th>
      </tr>
        <tr>
            <th *ngFor="let col of columns" [ngSwitch]="col.field">
                <input *ngSwitchCase="'Title'" pInputText type="text" (input)="src.filter($event.target.value, col.brand, col.brand)">
            </th>
        </tr>
  </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td class="text-center">{{car.brand}}</td>
            <!--<td>{{car.lastYearSale}}</td>-->
            <td class="text-center"><app-button label='Delete' styleClass='button-action'></app-button></td>
            <td class="text-center"><app-button label='Update' routerLink="/controlObjectivesMaintenance/update" styleClass='button-action'></app-button></td>
        </tr>
    </ng-template>
    </p-table>
</div>