<h3>New Risk</h3>
<div class="row">
        <div>
          <label class="control-label">Risk Category</label>
        </div>
          <div class="col-5">
            <app-input (inputTextSelected)='this.title=$event' #inputTitle [value]='title' maxlength="60"></app-input>
            <!--<app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedProgram = $event' [selectedItem]='selectedProgram'></app-dropdown>-->
          </div>
</div>
<div class="row">
      <div>
          <label class="control-label">Type of Risk &nbsp;&nbsp;</label>
        </div>
          <div class="col-5">
            <app-dropdown [datasource]='mockDropDownData' (selectedItemChange)='this.selectedProgram = $event' [selectedItem]='selectedProgram'></app-dropdown>
          </div>
</div>
<br>
<div class="text-center">
  <app-button label="Update" styleClass='button-action'></app-button>
</div>