<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="title" class="required control-label">Group</label>
                </div>
                <div class="row">
                  <input id="input" type="text" size="30" pInputText>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="title" class="required control-label">Matrix Name</label>
                </div>
                <div class="row">
                  <input id="input" type="text" size="30" pInputText>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="title" class="required control-label">Process Overview</label>
                </div>
                <div class="row">
                  <input id="input" type="text" size="30" pInputText>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="title" class="required control-label">Business Function</label>
                </div>
                <div class="row">
                  <input id="input" type="text" size="30" pInputText>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="title" class="required control-label">Certification Responsibility</label>
                </div>
                <div class="row">
                  <input id="input" type="text" size="30" pInputText>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="title" class="required control-label">Inherent Risk Rating</label>
                </div>
                <div class="row">
                  <input id="input" type="text" size="30" pInputText>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="title" class="required control-label">Matrix Type</label>
                </div>
                <div class="row">
                  <input id="input" type="text" size="30" pInputText>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="title" class="required control-label">Related Systems</label>
                </div>
                <div class="row">
                  <input id="input" type="text" size="30" pInputText>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="row">
                  <label for="title" class="required control-label">Control Risk Rating</label>
                </div>
                <div class="row">
                  <input id="input" type="text" size="30" pInputText>
                </div>
              </div>
            </div>
          </div>
    </div>
    
</div>
