<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-9">

          <label for="title" class="required control-label">Group</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-9">

          <label for="title" class="required control-label">Matrix Name</label>

          <input id="input" type="text" size="30" pInputText>

        </div>
      </div>
      <div class="row">
        <div class="col-9">

          <label for="title" class="required control-label">Process Overview</label>

          <input id="input" type="text" size="30" pInputText>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-9">

          <label for="title" class="required control-label">Business Function</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-9">

          <label for="title" class="required control-label">Certification Responsibility</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-9">

          <label for="title" class="required control-label">Inherent Risk Rating</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-9">

          <label for="title" class="required control-label">Matrix Type</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-9">

          <label for="title" class="required control-label">Related Systems</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
      <div class="row">
        <div class="col-9">

          <label for="title" class="required control-label">Control Risk Rating</label>

          <p-dropdown [options]="cities1" placeholder="Select a City" optionLabel="name" filter='true' autoWidth='false' [showClear]="true"></p-dropdown>

        </div>
      </div>
    </div>
  </div>

</div>
<div class="row footerFixed">
  <app-button label='Save' styleClass='button-action'></app-button>
  <app-button label='Cancel'   styleClass='button-cancel'></app-button>
</div>